@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Hamburger Menu */
.line {
  transform-origin: 15px 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Open State Animation */
.icon.open .top {
  transform: translateY(10px) rotate(45deg);
}

.icon.open .middle {
  opacity: 0;
  transform: scaleX(0);
}

.icon.open .bottom {
  transform: translateX(-14px) translateY(-4px) rotate(-45deg);
}
